.landing-page {
  width: 100%;
}

.landing-page__content {
  display: flex;
  flex-direction: column;
}

.landing-page__hint {
  padding-bottom: 16px;
}

.landing-page__sound-example {
  display: flex;
  flex-direction: column;
}

.landing-page-button {
  width: 200px;
  float: right;
  color: #fff;
  background-color: #1abc9c;
  padding: 13px 20px;
  font-size: 22px;
  border-radius: 6px;
  cursor: pointer;
  border: transparent;
  margin-left: auto;
}

.landing-page-button-disabled {
  color: #fff;
  cursor: not-allowed;
  background-color: grey;
}

.landing-page-button:hover {
  opacity: 0.85;
}

.name-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name-input__field {
  width: 350px;
  height: 50px;
  font-size: 25px;
  border-radius: 6px;
  border: transparent;
  padding-left: 15px;
  background-color: #CDCDCD;
}