.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15px;
}

#header-title {
  font-size: 2.5rem;
  margin-bottom: 0;
  font-size: 55px;
}

.toon-twist-logo__side {
  height: 100px;
  width: 100px;
  float: right;
}